n8n/DentalFlow_AI_V2.json
{
  "name": "DentalFlow_AI_V2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * 5"
            }
          ]
        }
      },
      "id": "t1",
      "name": "Cron Semanal (Viernes 10PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://common-spies-sleep.loca.lt/api/finance/profitability?startDate={{$today.minus(7, 'days').toFormat('yyyy-MM-dd')}}&endDate={{$today.toFormat('yyyy-MM-dd')}}"
      },
      "id": "f1",
      "name": "Bajar Datos del Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Eres un CFO Dental especializado en optimización de rentabilidad clínica. Tu misión es analizar el JSON de desempeño financiero. \n\nREGLAS DE ANÁLISIS:\n1. BENCHMARKS: Limpiezas/Preventiva (50-60% margen), Resinas/Operatoria (55-65%), Cirugía/Implantes (>65%).\n2. IDENTIFICACIÓN: Marca cualquier tratamiento con margen < 40% como 'CRÍTICO' y margen < 50% como 'ALERTA'.\n3. MATERIALES: Si el costo actual excede el estimado en >15%, sugiere auditoría de inventario.\n4. ESTRATEGIA: Si un tratamiento es 'Joya' (Alto margen, bajo volumen), sugiere campaña de marketing específica.\n\nESTRUCTURA DE RESPUESTA:\n- Resumen ejecutivo (2 líneas).\n- Lista de 3 hallazgos críticos.\n- Acción correctiva inmediata recomendada."
            },
            {
              "role": "user",
              "content": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "ai1",
      "name": "IA Analysis (OpenAI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://common-spies-sleep.loca.lt/api/finance/insights",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"summary\": \"{{ $json.message.content }}\", \"recommendedAction\": \"Revisar costos de insumos o subir precios de tratamientos estrella.\", \"severity\": \"CRITICAL\" }"
      },
      "id": "s1",
      "name": "Guardar Insight en DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 0]
    }
  ],
  "connections": {
    "Cron Semanal (Viernes 10PM)": {
      "main": [
        [
          {
            "node": "Bajar Datos del Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bajar Datos del Backend": {
      "main": [
        [
          {
            "node": "IA Analysis (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Analysis (OpenAI)": {
      "main": [
        [
          {
            "node": "Guardar Insight en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
